<h1>Product List</h1>
<ul id="productList">
  {{#each products}}
  <li>
    {{this.title}} - {{this.description}} - ${{this.price}}
    <a href="/products/{{this.id}}">View Details</a>
    <button onclick="addToCart({{this.id}})">Add to Cart</button>
  </li>
  {{/each}}
</ul>
<nav>
  {{#if hasPrevPage}}
    <a href="/?page={{prevPage}}">Previous</a>
  {{/if}}
  {{#if hasNextPage}}
    <a href="/?page={{nextPage}}">Next</a>
  {{/if}}
</nav>
<script>
  function addToCart(productId) {
    fetch(`/api/carts/{{cartId}}/products/${productId}`, {
      method: 'POST'
    });
  }
</script>