<h1>Product List</h1>
<ul>
  {{#each products}}
  <li>
    <h2>{{title}}</h2> 
    <p>{{description}}</p>
    <p>Precio: ${{price}}</p>
    <p>Stock disponible: {{stock}}</p>
    <p>Categoría:{{category}}</p>
    <button onclick="addToCart('{{_id}}')">Agregar al Carrito</button>
  </li>
  {{/each}}
</ul>
<nav>
  {{#if hasPrevPage}}
    <a href="/?page={{prevPage}}">Previous</a>
  {{/if}}
  {{#if hasNextPage}}
    <a href="/?page={{nextPage}}">Next</a>
  {{/if}}
</nav>
<script>
  function addToCart(productId) {
    fetch(`/api/carts/{{cartId}}/products/${productId}`, {
      method: 'POST'
    });
  }
</script>